/* Mobile */
@media only screen and (max-width: 450px) {
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}

@media only screen and (min-width: 1440px) {

}

/* 4K */
@media only screen and (min-width: 2560px) {
}